/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/
/* line 1, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
html, body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* line 9, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
header {
  margin: 2em 0 3em 0;
  min-height: 2em;
}

/* line 13, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
h1#logo {
  float: left;
  margin-top: 0;
}

/* line 17, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
#container {
  color: #333333;
  margin: 0 auto;
  min-height: 100%;
  padding: 20px;
  max-width: 920px;
}
/* line 23, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
#container #content {
  clear: both;
}

/* line 25, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
a {
  color: #c01e2e;
}

/* line 28, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
#user_actions {
  float: right;
  padding: 10px;
  text-align: right;
}

/* line 33, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
#notice {
  width: 400px;
  text-align: center;
  background: #eeffee;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddeedd;
  border-radius: 3px;
}

/* line 42, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
.group {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 1em 0;
  padding: 10px;
}
/* line 47, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
.group h3 {
  margin-top: 0;
}

/* line 50, /Users/phillip/Source/aszist/app/assets/stylesheets/default.css.sass */
footer {
  text-align: right;
}
/* line 2, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
form label {
  display: block;
}
/* line 4, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
form textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #cccccc;
  width: 400px;
}
/* line 10, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
form input[type="text"], form input[type="email"], form input[type="password"] {
  border: 1px solid #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 1em;
  padding: 5px;
  width: 250px;
}
/* line 17, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
form input[type="checkbox"] + label {
  display: inline;
}

/* line 20, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 25, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 32, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #cc0000;
  color: white;
}
/* line 41, /Users/phillip/Source/aszist/app/assets/stylesheets/forms.css.sass */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}
/* line 5, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table tr.odd {
  background: #f5f5f5;
}
/* line 7, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table th {
  color: #777777;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}
/* line 12, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td {
  padding: 5px;
}
/* line 14, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.id {
  width: 25px;
}
/* line 16, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.date {
  width: 50px;
}
/* line 18, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.priority {
  width: 75px;
}
/* line 20, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.status {
  width: 125px;
}
/* line 22, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.email {
  width: 125px;
}
/* line 24, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.actions {
  width: 100px;
}
/* line 26, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.role {
  width: 125px;
}
/* line 28, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table td.name {
  width: auto;
}
/* line 30, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table a {
  text-decoration: none;
}
/* line 32, /Users/phillip/Source/aszist/app/assets/stylesheets/tables.css.sass */
table a:hover {
  background: none;
  text-decoration: underline;
}
/* line 7, /Users/phillip/Source/aszist/app/assets/stylesheets/tickets.css.sass */
body.tickets .subject {
  font-weight: bold;
}
/* line 9, /Users/phillip/Source/aszist/app/assets/stylesheets/tickets.css.sass */
body.tickets p.no-tickets {
  color: #999999;
}
/* line 12, /Users/phillip/Source/aszist/app/assets/stylesheets/tickets.css.sass */
body.tickets .comment.odd {
  background: #fafafa;
}