%nav.top-bar{ "data-topbar" => true }
  %ul.title-area
    %li.name
      %h1= link_to image_tag('logo.png'), :root
    %li.toggle-topbar.menu-icon
      = link_to "Menu", "#"

  %section.top-bar-section
    %ul.right
      = render 'devise/menu/login_items'
      %li= link_to "Manage users", users_path if can?(:manage, User)
