%div.panel
  %p
    %strong= comment.user
    = raw("<em>(Sent to user)</em>") if comment.sent_to_user?
    = time_ago_in_words(comment.created_at).humanize
    ago
  %p
    = markdownify comment.body

