.logo {
  font-family: "Varela Round", sans-serif;

  a {
    color: #333;
  }

  .logotext {
    font-size: 125%;
  }

  .icon {
    color: #c01e2e;
    display: inline-block;
    font-weight: bold;
    margin-right: -.2em;
  }
}
