html, body
  background: #fff
  font-family: Helvetica, Arial, sans-serif
  font-size: 13px
  line-height: 1.5
  margin: 0
  padding: 0

header
  margin: 2em 0 3em 0
  min-height: 2em

h1#logo
  float: left
  margin-top: 0

#container
  color: #333
  margin: 0 auto
  min-height: 100%
  padding: 20px
  width: 920px
  #content
    clear: both
a
  color: #c01e2e

#user_actions
  float: right
  padding: 10px
  text-align: right

#notice
  width: 400px
  text-align: center
  background: #EFE
  margin: 0 auto
  padding: 10px
  border: 1px solid #DED
  border-radius: 3px

.group
  border: 1px solid #ccc
  border-radius: 3px
  margin: 1em 0
  padding: 10px
  h3
    margin-top: 0

footer
  text-align: right