<div id="navigation">
  <div class="inner">
    <ul>
      <li><%= link_to "Tickets", tickets_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
    <div id="user_actions">
      <%= render 'devise/menu/login_items' %>
    </div>
  </div>
</div>